/** @format */

:root {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
  --icon-size: 30px;
  --profile-size: 75px;
  --card-width: 300px;
}

body {
  font-size: 16px;
  color: white;
  font-family: "Open Sans", sans-serif;
  --s: 80px;
  --c1: #423f3f;
  --c2: #2d3033;
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}
::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-thumb {
  background-color: #141414;
}
::-webkit-scrollbar-thumb {
  background-color: #481f1f;
}

/* 
  This is for the sidebar of screen
*/
.container {
  margin-left: 2.5rem;
}
#sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 2.5rem;
  background-color: black;
  top: 0;
  transition: 0.3s ease;
  z-index: 1000;
}
#sidebar:hover {
  width: 8rem;
}
.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  text-decoration: none;
  color: #b76b42;
  transition: 0.2s ease;
  padding-left: 0.25rem;
}
.sidebar-item h4 {
  display: none;
}
.sidebar-item:hover {
  color: #dcc886f3;
  background-color: #201e1e;
  padding: 0;
}
#sidebar:hover h4 {
  display: block;
  font-weight: normal;
}

/*
  This is the start of the home page screen css;
*/

#Home {
  /* background-color: #242121; */
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: 1rem;
  padding: 1rem;
}
.message-button {
  display: none;
}

.user-card {
  display: flex;
  height: auto;
  width: var(--card-width);
  background-color: #bba27e;
  background-color: #c46d3e;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  gap: 0.5rem;
  position: relative;
}
.user-card:hover {
  box-shadow: 0.5rem 0.5rem 1rem black;
  transform: scale(1.25);
  /* height: max-content; */
}
.user-card:hover .message-button {
  display: block;
  background-color: whitesmoke;
  color: green;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.user-section-1,
.user-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}
.user-section-1 {
  width: 30%;
}
.user-section-2 {
  width: 70%;
}

.profile-image {
  width: var(--profile-size); /* Adjust the width and height as needed */
  height: var(--profile-size);
  border-radius: 50%; /* Makes the container and the image itself circular */
  overflow: hidden; /* Clips the image to the circular shape */
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the circular container */
}
.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 4px;
}
.icon img {
  width: var(--icon-size);
  height: var(--icon-size);
  object-fit: contain;
}
.profile-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
}
.profile-icon img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.section-1-child,
.section-2-child {
  padding: 5px;
  border-radius: 10px;
}

.section-1-child {
  width: 90%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  background-color: #e6e1e1;
  color: #000000;
  font-size: 0.6rem;
}
.section-2-child {
  font-size: 0.6rem;
  font-weight: lighter;
  font-style: italic;
  padding: 0.3rem;
  width: 95%;
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  color: black;
  padding-top: 0.5rem;
}

.profile-container {
  background-color: #a75252;
}

.upper-section {
  background-color: rgb(34, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.home-profile-cont {
  width: 80%;
  height: 100vh;
  max-height: fit-content;
}

.profile-cont-1 {
  display: flex;
  background-color: rgb(34, 32, 32);
  padding: 1.5rem;
  color: black;
  gap: 2rem;
  justify-content: center;
  border: 2px solid rgb(201, 191, 191);
  border-radius: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.message-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  padding: 0.7rem;
  border-bottom-right-radius: 1rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #5e5b5b;
  padding: 1rem;
  border-radius: 1rem;
  width: min-content;
}
.display-label {
  font-size: 0.75rem;
  font-weight: 400;
  font-style: italic;
  color: #481f1f;
}
.display-text {
  font-weight: 600;
  font-style: normal;
  color: bisque;
  font-size: 0.8rem;
}
/* .profile-sec-1 * { */
/* background-color: rgb(125, 207, 207); */
/* padding: 0.5rem; */
/* font-style: italic; */
/* border-radius: 1rem; */
/* font-weight: 500; */
/* } */
@media (max-width: 328px) {
  .upper-section {
    flex-direction: column;
    padding: 1rem;
  }
  .image {
    margin: auto;
  }
}

.projects {
  background-color: #a75252;
  background-color: #c46d3e;
  background-color: #c06f43;
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.projects div:last-child {
  margin-bottom: 1rem;
}
.project {
  background-color: #ffffff;
  padding: 1rem;
  width: fit-content;
  width: 70%;
  border-radius: 1rem;
  color: black;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(253, 253, 253);
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  height: min-content;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-around;
}

/* 
  This is for the Tech list css.
*/

/*  */
@media (max-width: 325px) {
  :root {
    --icon-size: 20px;
    --profile-size: 80px;
    --card-width: 200px;
  }
  .container {
    margin: 0;
    padding-bottom: 2rem;
  }
  .grid-container {
    padding: 0.5rem;
  }
  .user-card {
    flex-direction: column;
    width: var(--card-width);
    align-items: center;
  }
  .user-section-1,
  .user-section-2 {
    width: 80%;
  }
  .user-card:hover {
    box-shadow: 0.5rem 0.5rem 1rem black;
    transform: none;
  }
  #sidebar {
    flex-direction: row;
    height: 2.5rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    top: initial;
    bottom: 0;
  }
  .sidebar-item {
    width: initial;
    height: 100%;
    padding: 0;
  }
  #sidebar:hover {
    width: 100%;
  }
  #sidebar:hover h4 {
    display: none;
  }
}
