:root {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
  --icon-size: 30px;
  --profile-size: 75px;
  --card-width: 300px;
}
body {
  font-size: 16px;
  background-color: #5e5b5b;
  color: white;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-thumb {
  background-color: #141414;
}
::-webkit-scrollbar-thumb {
  background-color: #481f1f;
}
.Auth {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  display: flex;
  flex-direction: column;
  background-color: rgb(175, 161, 148);
  padding: 5%;
  width: 15%;
  height: 25%;
  font-size: medium;
  border-radius: 10px;
}
#login input {
  padding: 5px;
  height: 25%;
  border: none;
  border-radius: 10px;
  font-size: medium;
}
#login button[type="submit"] {
  height: 25%;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.container {
  margin-left: 2.5rem;
}
#sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 2.5rem;
  background-color: black;
  top: 0;
  transition: 0.3s ease;
}
#sidebar:hover {
  width: 8rem;
}
.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  text-decoration: none;
  color: #b76b42;
  transition: 0.2s ease;
  padding-left: 0.25rem;
}
.sidebar-item h4 {
  display: none;
}
.sidebar-item:hover {
  color: #dcc886f3;
  background-color: #201e1e;
  padding: 0;
}
#sidebar:hover h4 {
  display: block;
  font-weight: normal;
}

#Home {
  background: linear-gradient(45deg, #a75757, #80632a);
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: 1rem;
  padding: 1rem;
}

.user-card {
  display: flex;
  height: auto;
  width: var(--card-width);
  background-color: #dab5a1;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  gap: 0.5rem;
}
.user-card:hover {
  box-shadow: 0.5rem 0.5rem 1rem black;
  transform: scale(1.25);
  /* height: max-content; */
}

.user-section-1,
.user-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}
.user-section-1 {
  width: 30%;
}
.user-section-2 {
  width: 70%;
}

.profile-image {
  width: var(--profile-size); /* Adjust the width and height as needed */
  height: var(--profile-size);
  border-radius: 50%; /* Makes the container and the image itself circular */
  overflow: hidden; /* Clips the image to the circular shape */
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the circular container */
}
.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 4px;
}
.icon img {
  width: var(--icon-size);
  height: var(--icon-size);
  object-fit: contain;
}

.section-1-child,
.section-2-child {
  padding: 5px;
  border-radius: 10px;
}

.section-1-child {
  width: 90%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  background-color: #a75252;
  color: #e4d2d2;
  font-size: 0.6rem;
}
.section-2-child {
  font-size: 0.6rem;
  font-weight: lighter;
  font-style: italic;
  padding: 0.3rem;
  width: 95%;
  flex: auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

@media (max-width: 325px) {
  :root {
    --icon-size: 20px;
    --profile-size: 80px;
    --card-width: 200px;
  }
  .container {
    margin: 0;
    padding-bottom: 2rem;
  }
  .grid-container {
    padding: 0.5rem;
  }
  .user-card {
    flex-direction: column;
    width: var(--card-width);
    align-items: center;
  }
  .user-section-1,
  .user-section-2 {
    width: 80%;
  }
  .user-card:hover {
    box-shadow: 0.5rem 0.5rem 1rem black;
    transform: none;
  }
  #sidebar {
    flex-direction: row;
    height: 2.5rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    top: initial;
    bottom: 0;
  }
  .sidebar-item {
    width: initial;
    height: 100%;
    padding: 0;
  }
  #sidebar:hover {
    width: 100%;
  }
  #sidebar:hover h4 {
    display: none;
  }
}
